@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@section scripts {
    <script type="text/javascript">
        var game = null;
        var $teamsContainer = $('#teams-container');

        $(function() {
            // Declare a proxy to reference the hub.
            game = $.connection.wordSpellHub;

            var gameName = "@Model.gameName";
            var isObserver = @(Model.isObserver ? "true" : "false");

            game.client.letterSubmitted = function(data) {
                $teamsContainer.empty();

                $(data).each(function() {
                    var $teamContainer = $('<div>')
                        .addClass('panel panel-default');

                    var $teamHeader = $('<div>')
                        .addClass('panel-heading')
                        .html('<i class="fa fa-users"></i>&nbsp;' + this.TeamName);

                    var $teamBody = $('<div>')
                        .addClass('panel-body');

                    var wordLength = this.Word.length;
                    var letterQueueLength = this.LetterQueue.length;

                    for (var i = wordLength - 1; i >= 0; i--) {
                        var letterStatus = i >= (wordLength - letterQueueLength) ? 'default' : 'success';

                        var $letter = $('<span>')
                            .addClass('label label-' + letterStatus)
                            .html(this.Word[i]);

                        $teamBody.prepend($letter);
                    }

                    $teamContainer.append($teamHeader);
                    $teamContainer.append($teamBody);
                    $teamsContainer.append($teamContainer);
                });
            };

            game.client.teamJoined = function(data) {
                var $teamContainer = $('<div>')
                    .addClass('alert alert-info')
                    .html('<strong>' + data.TeamName + '</strong> has joined!');

                $teamsContainer.append($teamContainer);
            };

            // Start the connection.
            $.connection.hub.start().done(function() {
                if (isObserver) {
                    game.server.observe(gameName);
                }
            });
        });
    </script>
}

@if (Model.isObserver)
{
<div class="row">
    <div class="col-xs-12">
        <div id="teams-container" style="font-size:2em;">
            <div class="alert alert-info">
                <i class="fa fa-cog fa-spin"></i>&nbsp;Waiting for teams to join and game to start.
            </div>
        </div>
    </div>
</div>
}
else
{
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <span class="panel-title">Game options for <kbd>@Model.gameName</kbd></span>
            </div>
            <div class="panel-body">
                <form method="post" id="join-game">
                    <fieldset>
                        <input type="hidden" name="gameName" value="@Model.gameName" />
                        <legend>
                            Choose a name for your team and the number of players.
                        </legend>
                        <div class="form-group">
                            <label for="teamName">Team name</label>
                            <div class="row">
                                <div class="col-xs-6">
                                    <input type="text" id="teamName" name="teamName" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="numberOfPlayers">Number of players</label>
                            <div class="row">
                                <div class="col-xs-2">
                                    <input type="text" id="numberOfPlayers" name="numberOfPlayers" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row text-right">
                            <div class="col-xs-12">
                                <button class="btn btn-primary">
                                    <i class="fa fa-thumbs-o-up"></i>&nbsp;Create team
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="panel-footer text-right">
                <a href="/word-spell/@(Model.gameName)?observer=true" id="observe-game" class="btn btn-default">
                    <i class="fa fa-binoculars"></i>&nbsp;Or choose to be an observer
                </a>
            </div>
        </div>
    </div>
</div>
}
