<form method="post">
    <label for="gameName">Game name:</label>
    <input type="text" id="gameName" name="gameName" />
    <button>Create</button>
</form>
<form method="post">
    <input type="hidden" name="_method" value="PUT" />
    <label for="gameName">Game name:</label>
    <input type="text" id="gameName" name="gameName" />
    <button name="action" value="start">Start</button>
</form>