<!DOCTYPE html>
<html>
    <head>
        <title>Let's Makey Pi</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        @RenderBody()
        <script src="//code.jquery.com/jquery-1.11.2.js"></script>
        <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
        <script src="~/signalr/hubs"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>