<!DOCTYPE html>
<html>
    <head>
        <title>Let's Makey Pi</title>
    </head>
    <body>
        @RenderBody()
        <script src="~/Scripts/jquery-1.6.4.js"></script>
        <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
        <script src="~/signalr/hubs"></script>
    </body>
</html>